  
  h3 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
  
  }
  
  .imagen-portfolio1 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    Position: fixed;
    top: 40%;
    margin-left: 15%;
  }
  .imagen-portfolio2 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    Position: fixed;
    top: 40%;
    margin-left: 35%;
  }
  .imagen-portfolio3 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    Position: fixed;
    top: 40%;
    margin-left: 55%;
  }
  .imagen-portfolio4 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    Position: fixed;
    top: 40%;
    margin-left: 75%;
  }
  .imagen-portfolio5 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    Position: fixed;
    top: 60%;
    margin-left: 100%;
  }
  .botContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 7%;
  }
  
  